<%- include('./partials/header.ejs') %>

<main class="container-md mt-4">
    <h1>About</h1>
    <p>Piano Recorder is a simple website for recording and storing online songs/pieces you play on your digital piano.</p>
    <h2>How to use it</h2>
    <p>First, you need to allow MIDI access to the site.</p>
    <p>Second, you need to conect your piano to your computer via an USB-B cable.</p>
    <p>Now everything should be alright! Play a note on your piano to see if it works.</p>
    </main>

    <%- include('./partials/footer.ejs') %>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
